<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/46ecf46d8c.js" crossorigin="anonymous"></script>
    <title>Forja Empresas</title>
    <link type="image/x-icon" href="../assets/img/logocorto.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="../assets/css/dashboard.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<script defer src="../js/logic.js"></script>
</head>
<body>

    <main style="display:flex;">


        <!-- contenedor izquierda -->
        <div class="azul">
            <img id="logoForja" src="../assets/img/0. logoforja.png" alt="logoforja" >
            <div class="buttons">
                <button class="btn-left">
                    Pacientes
                </button>
                <button class="btn-left">
                    Vacunacion
                </button>
                <button class="btn-left"> <a href="../index.html">
                    Cerrar sesión</a>
                </button>
            </div>
        </div>

        
        <!-- contenedor derecha -->
        <div class="content">
            <div class="carolina">
                <img src="../assets/img/16. man-user.svg" alt="logo user">
                <p> Carolina Loaiza</p>
            </div>
            <h1 style="text-align:center;">BIENVENIDOS</h1>
<br><br><br><br><br><br><br><br><br>
            <div class="content__filter">
                <input class="content__filter__input" type="text" id="userInput"
                    placeholder="Documento del paciente">
                <button class="content__filter__button" id="searchBtn"><i class="fa-solid fa-magnifying-glass"></i></button>
                <button class="content__filter__button" type="reset"><i class="fa-brands fa-firefox-browser"></i></button>
                <!-- The Modal -->
                <div id="userNotFoundModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal__content">
                        <img class="modal__content__image" src="../assets/img/0. logoforja.png" alt="logo-forja">

                        <p class="modal__content__message">Usuario no registrado desea realizar el registro?</p>
                        <button class="menu__content__button menu__content__button--accept"><a href="pacientes.html">Si, Crear</a></button>
                        <button class="menu__content__button menu__content__button--cancel"><a href="../index.html">Cancelar</button></a>
                    </div>
                </div>
            </div>
            <img src="../assets/img/13. guerreros.png" alt="circle" class="circle">
            <img src="../assets/img/12. franja_1.jpg" alt="footer" class="footer">
        </div>

    </main>
</body>
</html>