<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forja Empresas</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link type="image/x-icon" href="../assets/img/logocorto.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="../assets/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>


<body>
    <a href="../index.html">
<button type="button" class="button3">
Volver al inicio
</button> </a>

<div class="login">
    <div class="azul">
        <center><img src="../assets/img/0. logoforja.png" alt="logoforja"></center>
    <center><h3>Contigo,siempre!</h3></center>
    <br>
    </div>  
    <center><div class="blanco">
    <form name="form" id="form" action="dashboard.html">
        <div class="Usuario" id="usuario" >
            <label>Usuario</label><br><br>
            <input type="text" class="button1" required="required" name="login">
        </div>
        <br>
        <div class="Contraseña" id="contraseña" >
            <label>Contraseña</label>
            <br><br>
            <input type="password" class="button1" required="required" name="password">
        </div>
        <br>
        <a href="">
        <div class="recordar">
            ¿Olvidó su contraseña?
        </div></a>
    <div>
        <input id="buttonLogin" class="button2" onclick="load()" value="Ingresar" type="button">
    </input>
    </div>
    </div></center>
    </form>

</div>
<script src="../js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>