<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/pacientes.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/newdosis.css">
    <script src="https://kit.fontawesome.com/46ecf46d8c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link type="image/x-icon" href="../assets/img/logocorto.png" rel="icon">
    <title>Forja Empresas</title>
</head>
<body>
    <header>
        <div class="loguitos">
            <img src="../assets/img/0. logoforja.png" alt="logoforja" class="logoheader">
            <button class="button1"><a href="dashboard.html"></a><i class="fa-solid fa-house-user"></i></button></a>
            <button class="button1"><a href="../index.html"></a><i class="fa-solid fa-power-off"></i></button></a>
        </div>
        <div class="franja">
            <img src="../assets/img/12. franja.svg" alt="franja">
        </div>
    </header>
    <br><br>
    <main>
        <center><div class="h2">
             <h2><center>NUEVA DOSIS</center></h2>
        </div></center>
             <br>
<center>
             <div class="container2">
            
                <form action="" method="post" class="registerPacient">
    
                    <div class="buttons-head">
                        <h4>Estado:ACTIVO</h4>
    
                        <div class="div-buttons">
                            <a href="paciente.html"><button class="bton-ingresar">Guardar cambios</button></a>
                            <a href="dashboard.html" class="bton-ingresar">Cerrar</a>
                        </div>
                    </div>
                    <h2 class="h2-user-new"><span>INFORMACIÓN DEL PACIENTE</span></h2>
                    <fieldset>
                        <div class="form-register">
    
                        <div class="user-data">
                            <div class="group-data">
                                <label for="fecha de registro"></label>
                                <input type="date" id="date" name="date" value="Fecha de registro" required>
                            </div>
                            <div class="group-data">
                                <label for="número registro"></label>
                                <input name="registr" id="registr" type="number" placeholder="N° Registro" min="0" required>
                            </div>
                        </div>
    
                        <div class="title-user-new">
                            <div>
                                <h3>DATOS PERSONALES</h3>
                            </div>
                        </div>
    
                        <div class="user-data">
                        
                            <div class="group-data">
                                <label for="nombre"></label>
                                <input name="nombre" id="nombre" type="text" placeholder="Escribe tu nombre" required>
                            </div>
    
                            <div class="group-data">
                                <label for="apellido"></label>
                                <input name="apeliido" id="apeliido" type="text" placeholder="Apellidos" required>
                            </div>
    
                            <div class="group-data">
                                <label for="number-id"></label>
                                <input name="number-id" id="number-id" type="number" placeholder="Número de identificación" required>
                            </div>
    
                            <div>
                                <label for="date"></label>
                                <input type="date" id="date" name="date"  value="Fecha de nacimiento" min="" max="2022-11-05" placeholder="Fecha de nacimiento" required>
                            </div>
    
                            <div class="group-data">
                                <label for="edad"></label>
                                <input name="edad" id="edad" type="number" placeholder="Edad" min="0" required>
                            </div>
    
                            <div class="group-data">
                                <label for="eps" class="control-label"></label>
                                <select class="form-control" required id="eps">
                                    <option value="">EPS</option>
                                    <option value="NuevaEPS">Nueva EPS</option>
                                    <option value="Sura">Sura</option>
                                    <option value="EPS Salud Total">EPS Salud Total</option>
                                    <option value="Medimás">Medimás</option>
                                    <option value="Famisanar">Famisanar</option>
                                    <option value="Compensar">Compensar</option>
                                    <option value="Coomeva">Coomeva</option>        
                                </select>
                            </div>
                        </div>
                        </div>
                    </fieldset>
    
                        <fieldset>
    
                        <div class="form-register">
                        <div class="title-user-new">
                            <div>
                                <h3>INFORMACIÓN DE VACUNACIÓN</h3>
                            </div>
                        </div>
    
                        <div class="user-data">
    
                            <div class="group-data">
                                <label for="sede" class="control-label"></label>
                                <select class="form-control" required id="sede">
                                    <option value="">Sede</option>
                                    <option value="Bogota">Bogota</option>
                                    <option value="Chia">Chia</option>      
                                </select>
                            </div>
    
                            <div class="group-data">
                                <label for="sede" class="control-label"></label>
                                <select class="form-control" required id="sede">
                                    <option value="">¿Quién te vacunó?</option>
                                    <option value="nurse1">Maria Fernández</option>
                                    <option value="nurse2">Anny Espinel</option>
                                    <option value="nurse3">Aliz Mejia</option>
                                    <option value="nurse4">Daniela Ovalle</option>
                                    <option value="nurse5">Laura Caipa</option>        
                                </select>
                            </div>
    
                            <div class="group-data">
                                <label for="id-profesional"></label>
                                <input name="id-profesional" id="id-profesional" type="number" placeholder="id profesional" min="0" required>
                            </div>
    
                            <div class="group-data">
                                <label for="dosis"></label>
                                <input name="dosis" id="dosis" type="number" placeholder="Dosis" min="0" required>
                            </div>
                    </div>
    
                    <div class="inputs3">
                        
                        <div class="group-data">
                            <label for="biologicos" class="control-label"></label>
                            <select class="form-control" id="biologicos" required>
                                <option value="">Biológico</option>
                                <option value="Pfizer">Pfizer</option>
                                <option value="Moderna">Moderna</option>
                                <option value="AstraZeneca">AstraZeneca</option>
                                <option value="Janssen">Janssen</option>
                                <option value="Sinovac">Sinovac</option>       
                            </select>
                        </div>
    
                        <div class="group-data">
                            <label for="first-dosis"></label>
                            <input name="first-dosis" id="first-dosis" type="date" placeholder="Primera dosis" required>
                        </div>
    
                        <div class="group-data">
                            <label for="second-dosis"></label>
                            <input name="second-dosis" id="second-dosis" type="date" placeholder="Segunda dosis" required>
                        </div>
                        
                    </div>
    
                    <div class="observation">
                        <label for="observaciones"></label>
                        <textarea rows="2" cols="30" name="observaciones" placeholder="Observaciones adicionales"></textarea></div>
                    </div>
    
                    </div>
                   </div>
                </fieldset>
                </form>         
    
        </section>
            </div>
            </div>
        </center>
            </main>
            <br> <br><br><br> <br>
        <footer>
        <center> <p>©FORJA EMPRESAS</p>
            <p>Laura Lizeth Rico Gomez</p></center>
        </footer>
        </body>
        </html>