<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/pacientes.css">
    <script src="https://kit.fontawesome.com/46ecf46d8c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link type="image/x-icon" href="../assets/img/logocorto.png" rel="icon">
    <title>Forja Empresas</title>
</head>
<body>
    <header>
        <div class="loguitos">
            <img src="../assets/img/0. logoforja.png" alt="logoforja" class="logoheader">
            <button class="button1"><a href="dashboard.html"></a><i class="fa-solid fa-house-user"></i></button></a>
            <button class="button1"><a href="../index.html"></a><i class="fa-solid fa-power-off"></i></button></a>
        </div>
        <div class="franja">
            <img src="../assets/img/12. franja.svg" alt="franja">
        </div>
    </header>
    <br><br>
    <main>
        <div class="board">
            <button class="button2"><a href="../views/agregar.html">Agregar<i class="fa-solid fa-user-plus"></i></a></button>
                <div class="search">
                 <input type="search" class="barsearch" placeholder="Numero de documento"><label for="search"></label>
                 <button class="button3" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                </div>
        </div>
        <br><br>
        <center><div class="h2">
             <h2><center>PACIENTES</center></h2>
        </div></center>
             <br>

    <center><table style="width:80%" class="table">
                <tr>
                <th># DE REGISTRO</th>
                <th># DOCUMENTO</th>
                <th>NOMBRES</th>
                <th>APELLIDOS</th>
                <th>EDAD</th>
                <th>ACCIONES</th>
                </tr>
                <tr>
                    <td>11111</td>
                    <td>456231</td>
                    <td>Paola</td>
                    <td>Perezeses</td>
                    <td>2+16</td>
                    <td>
                    <center>
                    <button class="button4">Editar  <i class="fa-solid fa-pen"></i></button>
                    <button class="button5">Eliminar  <i class="fa-solid fa-delete-left"></i></button>
                </center>
                    </td>
                </tr>
                <tr>
                    <td>11111</td>
                    <td>456231</td>
                    <td>Paola</td>
                    <td>Perezeses</td>
                    <td>2+16</td>
                    <td>
                    <center>
                    <button class="button4">Editar  <i class="fa-solid fa-pen"></i></button>
                    <button class="button5">Eliminar  <i class="fa-solid fa-delete-left"></i></button>
                </center>
                    </td>
                </tr>
                <tr>
                    <td>11111</td>
                    <td>456231</td>
                    <td>Paola</td>
                    <td>Perezeses</td>
                    <td>2+16</td>
                    <td>
                    <center>
                    <button class="button4">Editar  <i class="fa-solid fa-pen"></i></button>
                    <button class="button5">Eliminar  <i class="fa-solid fa-delete-left"></i></button>
                </center>
                    </td>
                </tr>
                <tr>
                    <td>11111</td>
                    <td>456231</td>
                    <td>Paola</td>
                    <td>Perezeses</td>
                    <td>2+16</td>
                    <td>
                    <center>
                    <button class="button4">Editar  <i class="fa-solid fa-pen"></i></button>
                    <button class="button5">Eliminar  <i class="fa-solid fa-delete-left"></i></button>
                </center>
                    </td>
                </tr>
                <tr>
                    <td>11111</td>
                    <td>456231</td>
                    <td>Paola</td>
                    <td>Perezeses</td>
                    <td>2+16</td>
                    <td>
                    <center>
                    <button class="button4">Editar  <i class="fa-solid fa-pen"></i></button>
                    <button class="button5">Eliminar  <i class="fa-solid fa-delete-left"></i></button>
                </center>
                    </td>
                </tr>
                <tr>
                    <td>11111</td>
                    <td>456231</td>
                    <td>Paola</td>
                    <td>Perezeses</td>
                    <td>2+16</td>
                    <td>
                    <center>
                    <button class="button4">Editar  <i class="fa-solid fa-pen"></i></button>
                    <button class="button5">Eliminar  <i class="fa-solid fa-delete-left"></i></button>
                     </center>
                    </td>
                </tr>
      </table>  </center>
    </main>
    <br> <br><br><br> <br>
<footer>
<center> <p>©FORJA EMPRESAS</p>
    <p>Laura Lizeth Rico Gomez</p></center>
</footer>
</body>
</html>