@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
.loguitos{
    padding:1%;
    background-color: #1d1b45;
    display: flex;}

.franja img{
    width: 100%;
    border-bottom:10px solid #89d0dd;
}
.button1{
    height: 60px;
    line-height: 60px;  
    width: 60px;  
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 100%;
    border-color: #89d0dd;
    background-color: #c4c4c4;
    color: black;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 75%;
  }
.board{
    display: flex;
    justify-content:space-around;
}
.tittle{
    background-color: #1d1b45;
    color: white;
    width: 80%;
    border-radius: 20px;
}
#registro{
    border: 4px solid #c4c4c4;
    padding: 30px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #c4c4c4;
}

#registro i{
    font-size: 20px;
}

.form{
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 10px 20px;
}

.form input, .form select{
    border: 2px solid #89d0dd;
    height: 35px;
    margin: 10px 10px 10px 0px;
}

.date{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding: 0 1.5% 0 1.5%;
}

.date .cajita1 input{
    display: flex;
    margin-right: 35px;
    width: 250px;
}

.title-user-new{
    background-color: #89d0dd;
    border-radius: 5px;
    border: 1px solid #11616b;
}

.title-user-new h3{
    color: #ffffff;
    text-align: center;
    font-weight: normal;
    margin: 7px;
}

.title-user-new div{
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin:0 30px;
}

.user-data{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.user-data div{
    width: 47%;
}

.user-data input, .form-control {
    display: flex;
    width:100%;
}

.user-data select{
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-control{
    margin: 0px 10px;
}

.inputs3{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.inputs3 div{
    width: 30%;
}

.inputs3 select{
    width: 30%;
}

.inputs3 input, .inputs3 select{
    width: 100%;
}

.radio-form div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.radio-form{
    margin: 15px 0;
}
@media only screen and (max-width: 600px) {
    .loguitos{width: 100%;background-color: #1d1b45;}
    .loguitos img{
        width: 60%;
    }
    .button1{left: 15%;width: 10%;font-size: 20px;}
    #registro{
        padding: 30px;
        margin: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .tittle h3{
       font-size: 12px;
    }

}
