@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

h1{
    color:#c3723e;
}
.cuadro{
    background-color: blue;
}
.button1{
    border-color: brown;
}
.user{
    background-color: rgb(182, 178, 173);
    width: 20%;
    border-radius: 0px 0px 15px 15px;
}
.user img{
    width: 20%;
}
.btn-left{
    margin-top: 4rem;
    display:block; 
    width:100%; 
    padding:1rem; 
    border: 4px solid #c3723e; 
    border-radius: 6px; 
    background-color: #c4c4c4;
}
#logoForja{
    margin-top: 12rem;
    margin-bottom: 4rem;
    margin-left: 2rem;
}
.carolina img{
    width: 30%;
    background-color: #fefefe;
    border-radius: 60%;
    padding-right:1px;
}

.carolina{
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
    margin-left: 79rem;
    padding-right: 1rem;
    padding:3px;
    background-color: #5a5a5aa9;}

.azul{
     height: 100vh;
     width: 20%; 
     background-color: #1D1B45}

.buttons{
    justify-content:center;
}

.content{
    height: 100vh; 
    width: 80%; 
    background-color: #c4c4c4;
}


.modal {
    display: none;
    /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0%;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  .content__filter {
    position: inherit;
    text-align: center;
  }
  
  .content__filter__input {
    border-width: 0 0 0.15em;
    border-color: #1D1B45;
    outline: 0;
    font-size: 1.2rem;
    width: 40%;
    background: transparent;
  }
  
  .content__filter__button {
    background-color: #1d1b45;
    border-color: #89d0dd;
    color: #ffffff;
    border-radius: 9px;
  }
  .modal__content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .modal__content__image {
    width: 20%;
  }
  
  .menu__content__button {
    font-size: 1.5em;
    color: white;
  }
  
  .modal__content__message {
    font-size: 2.5em;
    letter-spacing: 0.2rem;
  }
  
  .menu__content__button--accept {
    background-color:#c3723e;
    border-color: #c3723e;
    color: #ffffff;
    margin-right: 0.5em;
    text-decoration: none;
  }
  .menu__content__button--cancel {
    background-color: #1D1B45;
    border: #1D1B45;
    height: 34px;
    text-decoration: none;
}
.modal__content__specific {
  font-size: 1.5em;
}
a:link, a:visited,  a:hover, a:active
{
  color: #ffffff;
    text-decoration: none;
  }
.circle{
  position: relative;
  top: 20%;
  opacity: 0.2;
}
.footer{
  position:relative;
  top:18%;
  width: 100%;
}
@media only screen and (max-width: 600px){
  .azul{height: 100vh;width: 30%;}
  .content{height: 100vh;width: 70%;background-color: #c4c4c4;text-align: center;}
  .carolina{ font-size: 8px;margin-left: 10rem;width: 24%;}
  h1{font-size: 16px;}
  .circle{top: 40%;width: 50%;}
  .footer{top:41.5%;width: 100%;}
  .btn-left{margin-top: 1rem;width:100%; padding: 4px;font-size: 8px;}
  #logoForja{margin-top: 6rem;margin-bottom: 1rem;margin-left: 0rem;width: 100%;}
  .content__filter__input {font-size:8px;position: relative;}
  .content__filter {position: relative;top: -20%;text-align: center;}
}
@media only screen and (min-width: 768px) {
  .azul{height: 100vh;width: 30%;}
  .content{height: 100vh;width: 70%;background-color: #c4c4c4;text-align: center;}
  .carolina{ font-size: 10px;margin-left: 24rem;width: 24%;}
  h1{font-size: 18px;}
  .circle{top: 40%;width: 50%;}
  .footer{top:41.5%;width: 100%;}
  .btn-left{margin-top: 1rem;width:100%; padding: 4px;font-size: 12px;}
  #logoForja{margin-top: 6rem;margin-bottom: 1rem;margin-left: 0rem;width: 100%;}
  .content__filter__input {font-size:12px;position: relative;}
  .content__filter {position: relative;top: -10%;text-align: center;}
}
@media only screen and (min-width: 1440px){
  .azul{height: 100vh;width: 20%;}
  .content{height: 100vh;width: 80%;background-color: #c4c4c4;text-align: center;}
  .carolina{ font-size: 10px;margin-left: 64rem;width: 10%;}
  h1{font-size: 30px;}
  .circle{ left: 30%; top: 20%;width: 20%;}
  .footer{top:20%;width: 100%;}
  .btn-left{margin-top: 1rem;width:100%; padding: 4px;font-size: 14px;}
  #logoForja{margin-top: 6rem;margin-bottom: 4rem;margin-left: 0rem;width: 100%;}
  .content__filter__input {font-size:12px;position: relative;}
  .content__filter {position: relative;top: -10%;text-align: center;}
}