.datos input{
    margin: 20px;
    height: 30px;
  }
  
  .datos select{
    height: 30px;  
    margin: 20px;
  }
  
  .datosp {  
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
  }
  
  .datosp input{
    margin: 20px;
    height: 30px;
  }
  
  .datosp select{
    height: 30px;
    margin: 20px;
  }
  
  .pr{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 10px;
  }
  
  .pr input{
    margin: 20px;
    height: 30px;
  }
  
  .pr select{
    height: 30px;
    margin: 20px;
  }
  
  
  .radio label{
    margin: 20px;
  }
  
  .radio .opradio{
    text-align: center;
    margin: 20px;
  }
  
  .buttonenviar{
  
    margin-top: 10px;
    width: 30%;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--orangecolor);
    color: white;
    border-radius: 10px;
    cursor: pointer;
  }
  
  #footer{
    display: flex;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to bottom right, #000000 0%, #5c5c5c 24%, #161027 49%, #243670 75%, #5f5f5f  100%);
    background-size: 200% 200%;
    animation: fmovimiento 5s linear infinite alternate;
    color: var(---whitecolor);
    align-items:flex-start;
    justify-content: center;
    font-size: 14px;
    font-weight: 100;
  }
  
  
  
  
  .buttonenviar:hover{
  
        background-color:var(---orange-color) ;
    
    
    }
  
  @media (max-width: 768px ) {
    .datos,.datosp{
      grid-template-columns: 1fr ;
    }
    .pr{
      grid-template-columns: 1fr 1fr;
    }
  }
  
  
  @media (max-width: 375px ) {
    
    .pr{
      grid-template-columns:  1fr;
    }
  }